@{
    ViewData["Title"] = "Personal Information";
}

<h2>Personal Information</h2>

<ul>
    <li><strong>Full Name: </strong>Nguyễn Trần Bảo Hân</li>
    <li><strong>Student ID: </strong>2200001259</li>
    <li><strong>Birthdate: </strong>11/05/2004</li>
    <li><strong>Email: </strong>baohan@gmail.com</li>
    <li><strong>Hobbies: </strong>Đọc sách, chơi game, đi dạo</li>
</ul>

